<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles.css">
    <title>Form</title>
</head>
<body>
<form action="POST" >
    <div class="card">
        <div class="card-form">
            <label for="username">Username: </label>
            <input name="username" type="text" id="username">

            <label for="password">Password:</label>
            <input name="password" type="password" id="password">

            <button type="submit" class="submit">Enviar</button>
        </div><!--card-form-->
    </div><!--card-->
</form>

<script src="script.js"></script>
</body>
</html>

